body, h1, p, ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'cursive', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-family: 'cursive', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

p {
    margin-bottom: 20px;
    text-align: center;
    margin: 20px 70px 20px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

footer {
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 10px;
}
